@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css");

.container {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}

h2.section-title {
  font-weight: 400;
  text-shadow: 3px 3px 0 dodgerblue;
  transition: all 0.2s ease;
}

.position-item {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  margin: 2rem;
  cursor: pointer;
}
.company-logo.img {
  max-width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.position-item .position-info {
  flex: 1 0 25%;
  box-sizing: border-box;
  background: #e0ddd5;
  color: #171e42;
  padding: 10px;
}

.position-item .position-info .position-title {
  margin-bottom: 1rem;
}

.post-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  border-radius: 2px;
}
.card-image {
  position: relative;
}

.card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

img {
  border-style: none;
}

.card-content {
  padding: 24px;
  border-radius: 0 0 2px 2px;
}
.card-description {
  margin: 0;
}

.card-title {
  display: block;
  line-height: 32px;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 300;
}
